<a href="https://colab.research.google.com/github/brromeroc/Tallermodelosdeapredizaje/blob/main/Taller_modelos_de_aprendizaje.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Solución Taller modelos de aprendizaje**

Brayan Alejandro Romero Castro

Partiendo de los problemas del taller modelos de SVM, implemente un modelo de aprendizaje de maquina que considere los espacios de hipótesis revisados en clase. El modelo debe garantizar:

**1.** Generalización por medio de una estrategia de adecuada de validación cruzada.

**2.** Ajuste de hiperparametros (con una selección adecuada de hiperparametros para cada modelo)

$\underline{\textit{Solución.}}$


Recordemos que los espacios de hypotesis vitos en clase exeptuando el de las rectas (con cual se hizo la tarea número 1) fueron:

+ Knn
+ Kernel polinomial
+ Arboles de desición 
+ Regresión logistica

Para cada uno de los anteriores espacios de hipotesis $\mathcal{H}$, realizemos los pedido, primero recordemos que los datos de la tarea 1 son los siguientes:

In [ ]:
import numpy as np
import pandas as pd
data1=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt", sep=",", header=None)

In [ ]:
data1

            0         1        2        3  4
0     3.62160   8.66610  -2.8073 -0.44699  0
1     4.54590   8.16740  -2.4586 -1.46210  0
2     3.86600  -2.63830   1.9242  0.10645  0
3     3.45660   9.52280  -4.0112 -3.59440  0
4     0.32924  -4.45520   4.5718 -0.98880  0
...       ...       ...      ...      ... ..
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

[1372 rows x 5 columns]

In [ ]:
import numpy as np
import pandas as pd
import requests, zipfile, io
r = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/00357/occupancy_data.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))

In [ ]:
f1 = z.open("datatest2.txt")   #Datos de testeo2
data2 = pd.read_csv(f1, sep=",")
data2

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-11 14:48:00,21.7600,31.133333,437.333333,1029.666667,0.005021,1
2,2015-02-11 14:49:00,21.7900,31.000000,437.333333,1000.000000,0.005009,1
3,2015-02-11 14:50:00,21.7675,31.122500,434.000000,1003.750000,0.005022,1
4,2015-02-11 14:51:00,21.7675,31.122500,439.000000,1009.500000,0.005022,1
5,2015-02-11 14:51:59,21.7900,31.133333,437.333333,1005.666667,0.005030,1
...,...,...,...,...,...,...,...
9748,2015-02-18 09:15:00,20.8150,27.717500,429.750000,1505.250000,0.004213,1
9749,2015-02-18 09:16:00,20.8650,27.745000,423.500000,1514.500000,0.004230,1
9750,2015-02-18 09:16:59,20.8900,27.745000,423.500000,1521.500000,0.004237,1
9751,2015-02-18 09:17:59,20.8900,28.022500,418.750000,1632.000000,0.004279,1
9752,2015-02-18 09:19:00,21.0000,28.100000,409.000000,1864.000000,0.004321,1

###**$\mathcal {H}:=$ Postive rays**

### **Primer data set**

In [ ]:
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np

data1array=np.array(data1)
len(data1array)
data1array

array([[  3.6216 ,   8.6661 ,  -2.8073 ,  -0.44699,   0.     ],
       [  4.5459 ,   8.1674 ,  -2.4586 ,  -1.4621 ,   0.     ],
       [  3.866  ,  -2.6383 ,   1.9242 ,   0.10645,   0.     ],
       ...,
       [ -3.7503 , -13.4586 ,  17.5932 ,  -2.7771 ,   1.     ],
       [ -3.5637 ,  -8.3827 ,  12.393  ,  -1.2823 ,   1.     ],
       [ -2.5419 ,  -0.65804,   2.6842 ,   1.1952 ,   1.     ]])

In [ ]:
#Lexicografico
list1 = [(1,2),(3,3),(1,1)]
list1.sort(key=sortSecond)

NameError: ignored

###**$\mathcal {H}:=$ Postive intervals**

###**$\mathcal {H}:=$  Convex Sets**

###**$\mathcal {H}:=$ Perceptrons**